// Forms – excluding buttons, which have their own partial

textarea,
[type="url"],
[type="file"],
[type="text"],
[type="date"],
[type="time"],
[type="week"],
[type="email"],
[type="month"],
[type="color"],
[type="number"],
[type="search"],
[type="password"],
[type="datetime"],
[type="datetime-local"], {
  @include box-sizing(border-box);
  @include transition(background .2s, border-color .6s);
  background: #eee;
  border: 1px solid transparent;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  -webkit-appearance: none;
  &:focus {
    @include transition(background .2s, border-color .2s);
    border-color: $color-primary;
    outline: 0;
  }
  &:hover {
    background: lighten(#eee, 2%);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

textarea {
  min-height: 90px;
  resize: vertical;
}
