%modal {
	color: inherit;
}

.modal {
  &.is-open {
    &:after {
      height: 100%;
      opacity: 1;
      width: 100%;

      transition:
        opacity 2s ease-in-out;
    }

    .modal__content {
      top: 0;
      @include breakpoint($bp-medium) {
      	top: 4rem;
      }
    }
  }

	// Full-size background behind modal, obscuring content. Sort of.
  &:after {
    background: rgba(255,255,255,.8);
    content: '';
    display: block;
    height: 0;
    position: fixed;
      top: 0; left: 0; z-index: 0;
    width: 0;

    transition:
      opacity 2s ease-in-out;
  }

  &__content {
    background: #fff;
    border-bottom: dashed 2px $color-secondary;
    box-shadow: 0 0 0 3px #fff;
    box-sizing: border-box;
    display: inline-block;
    padding: 4rem;
    position: fixed;
    	top: -100%; left: 0; z-index: 2;
    width: 100%;

    transition: top .4s ease-in-out;

    @include breakpoint($bp-medium) {
			border: dashed 2px $color-secondary;
			margin-left: -30rem;
			left: 50%;
			width: 60rem;
    }
  }

  &__close {
  	background: $color-secondary;
  	border-radius: 50%;
  	box-shadow: none;
  	color: #fff;
  	height: 25px;
  	padding: 0;
  	position: absolute;
  		top: 5px; right: 5px; z-index: 3;
		width: 25px;
  }
}
