// Colors
$color-primary  : #169aa7; // teal
$color-secondary: #f99d1c; // gold

$color-primary-faded  : #577073;
$color-secondary-faded: lighten($color-secondary, 10%);

$color-text: #505050;
$color-text-faded: lighten($color-text, 30%);

$color-text-negative: #fff;

$color-display: $color-primary;
$color-selection: #fff;
$color-selection-bg: rgba(0,0,0,.6);

$color-border: #aaa;

$color-interactive: $color-primary;
$color-interactive-hover: #76C0CF;

$color-link: $color-secondary;
$color-link-hover: lighten($color-link, 15%);
