table {
  font-size: 16px; font-size: 1.6rem;
  width:100%;
}

th {
  border-bottom: dotted 1px $color-primary;
  padding: 5px;
  text-align: left;
}

tr {
  &:nth-child(odd) {
    background: url("../../assets/images/bg/dimension.png");
  }
}

td {
  border-bottom: dotted 1px $color-primary;
  padding: 5px;
}
