
// Typograhpy (create a sane font-stack)
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-display: Carter One, 'Helvetica Neue', 'Arial Bold', sans-serif;

// Headings
#{headings(1,4)} {
  font-family: $font-display;
  margin-bottom: 1rem;
}

#{headings(2,4)} {
  color: $color-primary-faded;
}

h4,
h5,
h6 {}

h1 {
  color: $color-display;
  font-size: 40px; font-size: 4rem;
  text-transform: uppercase;
}
h2 { font-size: 24px; font-size: 2.4rem; }
h3 { font-size: 20px; font-size: 2rem; }
h4 { font-size: 18px; font-size: 1.8rem; }

// Paragraphs
p {
  font-size: 16px; font-size: 1.6rem;
  margin-bottom: 1rem;
}

// Links
a {
  color: $color-link;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: underline;
  }
  &:focus {
    box-shadow: 0;
    outline: dotted thin $color-link-hover;
  }
}

// Text selection
::selection {
  background: $color-selection-bg;
  color: $color-selection;
  text-shadow: none;
}

::-moz-selection {
  background: $color-selection-bg;
  color: $color-selection;
  text-shadow: none;
}

// Formatting (inline)
em { font-style: italic; }
strong { font-weight: bold; }
