.intro-section {
  @extend %container;
  background: url('../../assets/images/bg/dimension.png');
  border: {
    color: $color-primary;
    style: solid;
    width: 10px 0 1px;
  }
  box-shadow: inset 0 2px 0 $color-secondary;

  padding: 20px;

  &__header {}

  &__subheader {
    border: {
      color: $color-primary;
      style: dotted;
      width: 1px 0;
    }
    padding: 10px 0;
  }

  &__text {

  }

  &__cover {
    text-align: center;
  }
}


.fact-section {
  &__author-image {
    border: solid 20px #fff;
    border-radius: 50% 50%;
  }
}


.btn--download {
  @extend %button-primary;
  width: 100%;
}
.btn--purchase {
  @extend %button-secondary;
  width: 100%;
}
