.intro-section {
	@include container;

	padding: 20px;

	background: url('../../assets/images/bg/dimension.png');
  &__text {

  }
}


.fact-section {
	&__author-image {
		border-radius: 50% 50%;
	}
}


.btn--download { @extend %button-primary; }
.btn--purchase { @extend %button-secondary; }
